@import "../constants/theme";

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 367px;
  height: 501px;
}

.switchButton {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0;
  border-radius: 15px;
  background-color: inherit;
}

.icon {
  width: 20px;
  height: 20px;
  pointer-events: auto;

  &.engineer {
    color: $operator;
  }
}
